*.iml
/old/.gradle
/local.properties
/old/.idea/libraries
/old/.idea/modules.xml
/old/.idea/workspace.xml
.DS_Store
/old/build
/captures
.externalNativeBuild
/new/.gradle
/new/.idea/libraries
/new/.idea/modules.xml
/new/.idea/workspace.xml
